%h3
  = t(:new_review_for, scope: :review)
  = link_to @book.title, book_path(@book)

= form_for @rating do |f|
  -if @rating.errors.any?
    #error_explanation
      %h2
        = pluralize(@rating.errors.count, "error")
        prohibited this rating form being saved:
      %ul
        - @rating.errors.full_messages.each do |msg|
          %li
            = msg

  = f.label :rating
  -#= render 'rate'
  = f.select :rate, [1,2,3,4,5]
  %br
  = f.label :title
  = f.text_field :title
  %br
  = f.label :text
  = f.text_area :text
  %br
  = f.hidden_field :allow, value: false
  = f.hidden_field :book_id, value: @book.id
  %br
  = f.submit t(:add)
  or
  = link_to t(:cancel), book_path(@book)
