%h3
  New review for
  = link_to @book.title, book_path(@book)

= form_for @rating do |f|
  -if @rating.errors.any?
    #error_explanation
      %h2
        = pluralize(@rating.errors.count, "error")
        prohibited this rating form being saved:
      %ul
        - @rating.errors.full_messages.each do |msg|
          %li
            = msg

  = f.label :rating
  = f.number_field :rate, min: 1, max: 5
  %br
  = f.label :title
  = f.text_field :title
  %br
  = f.label :text
  %br
  = f.text_area :text
  %br
  = f.hidden_field :allow, value: false
  = f.hidden_field :book_id, value: @book.id
  %br
  = f.submit 'add'
  or
  = link_to 'cancel', book_path(@book)
