- if @order.order_items.empty?
  %h4 
    Your shopping cart is empty!!!
- else
  = form_for @order do |f|
    %table
      %tr
        %th BOOK
        %th PRICE
        %th QTY
        %th TOTAL

      - @order.order_items.each do |order_item|
        %tr
          %td
            %table
              %tr
                %td
                  = image_tag(order_item.book.picture_url, :width => 100) if order_item.book.picture.present?
                %td
                  %table
                    %tr
                      %td= order_item.book.title
                    %tr
                      %td= order_item.book.short_description
          %td
            $
            = order_item.book.price
          -# %td= oi.number_field :quantity, min:1, max: 10
          %td= order_item.quantity
          %td
            $
            = order_item.total
          %td= link_to 'x', order_item_path(order_item), method: :delete

      %tr
        %td{colspan: 3}
          &nbsp;
        %td
          SUBTOTAL: $ 
          = @order.subtotal.round(2)
      %tr
        %td= link_to 'emrty cart', empty_cart_path, data: { confirm: 'Are you sure?' }
        %td= link_to 'continue shopping', books_path
        %td= f.submit 'update'
        %td= link_to 'checkout', checkout_address_path
