%div.table.top
  %h3 Orders
  - if @order_in_progress.order_items.empty?
    %h4 
      = t(:your_shopping_cart_is_empty)
  - else
    %h4 
      = t(:in_progress, scope: [:order, :state])
    %table
      %tr
        %th
          = t(:book, scope: [:book, :table])
        %th
          = t(:price, scope: [:book, :table])
        %th
          = t(:qty, scope: [:book, :table])
        %th
          = t(:total, scope: [:book, :table])

      - @order_in_progress.order_items.each do |order_item|
        %tr
          %td
            %table
              %tr
                %td
                  = image_tag(order_item.book.picture_url, :width => 100) if order_item.book.picture.present?
                %td
                  %table
                    %tr
                      %td= order_item.book.title
                    %tr
                      %td= order_item.book.short_description
          %td
            $
            = order_item.book.price
          %td= order_item.quantity
          %td
            $
            = order_item.total

      %tr
        %td{colspan: 3}
          &nbsp;
        %td
          = t(:subtotal)
          = @order_in_progress.subtotal.round(2)
      %tr
        %td= link_to t(:go_to_cart), user_orders_cart_path(user_id: current_user)

%div.table
  - unless @orders_waiting.empty?
    %h4
      = t(:waiting, scope: [:order, :state])
    %table
      %tr
        %th
          = t(:number, scope: [:order, :state])
        %th
          = t(:completed_at, scope: [:order, :state])
        %th
          = t(:total, scope: [:order, :state])

      - @orders_waiting.each do |order|
        %tr
          %td= link_to order.number, order_path(order)
          -if order.completed_at
            %td= order.completed_at
          -else
            %td admin is checking your order
          %td= order.subtotal
          %td= link_to t(:view), order_path(order)
%br

%div.table
  - unless @orders_in_delivery.empty?
    %h4
      = t(:in_delivery, scope: [:order, :state])
    %table
      %tr
        %th
          = t(:number, scope: [:order, :state])
        %th
          = t(:completed_at, scope: [:order, :state])
        %th
          = t(:total, scope: [:order, :state])

      - @orders_in_delivery.each do |order|
        %tr
          %td= link_to order.number, order_path(order)
          %td= order.completed_at
          %td= order.subtotal
          %td= link_to t(:view), order_path(order)
%br

%div.table
  - unless @orders_delivered.empty?
    %h4
      = t(:delivered, scope: [:order, :state])
    %table
      %tr
        %tr
        %th
          = t(:number, scope: [:order, :state])
        %th
          = t(:completed_at, scope: [:order, :state])
        %th
          = t(:total, scope: [:order, :state])

      - @orders_delivered.each do |order|
        %tr
          %td= link_to order.number, order_path(order)
          %td= order.completed_at
          %td= order.subtotal
          %td= link_to t(:view), order_path(order)
%br
