%div
  = link_to t(:back_to_orders), orders_path
  %br
  %h3
    = t(:name, scope: :order)
    = @order.number
    %span.order-state
      = @order.state
%br

%table.table.top
  %tr
    %th
      = t(:book, scope: [:book, :table])
    %th
      = t(:price, scope: [:book, :table])
    %th
      = t(:qty, scope: [:book, :table])
    %th
      = t(:total, scope: [:book, :table])

  - @order.order_items.each do |order_item|
    %tr
      %td
        %table
          %tr
            %td
              = image_tag(order_item.book.picture_url, :width => 100) if order_item.book.picture.present?
            %td
              %table
                %tr
                  %td= order_item.book.title
                %tr
                  %td= order_item.book.short_description
      %td
        $
        = order_item.book.price
      %td= order_item.quantity
      %td
        $
        = order_item.total
%br

%div
  %table
    %tr
      %td{colspan: 3}
        = t(:subtotal)
        %b
          = @order.subtotal
    %tr
      %td{colspan: 3}
        = t(:shipping)
        %b
          = @order.delivery.price
    %tr
      %td{colspan: 3}
        = t(:order_total)
        %b
          = @order.order_total
