%h3 Shop

%div.container_book
  %ul
    - @books.each do |book|
      %li
        = link_to book.picture, book_path(book)
        %br
        = link_to book.title, book_path(book)
        %br
        $
        = book.price
        %br
        %br

  = paginate @books, window: 2  

%div
  SHOP BY CATEGORIES
  %br
  - @categories.each do |category|
    = link_to category.title, category_books_path(category)
    %br
