%h3.head Shop

.row
  %div.span8
    %div.container_book
      %ul
        - @books.each do |book|
          %li
            = link_to book_path(book) do
              = image_tag(book.picture_url, :width => 100) if book.picture.present?
              %br
              = link_to book.title, book_path(book)
              %br
              $
              = book.price
              %br
              %br

      %div.peginate
        = paginate @books, window: 2

  %div
    = t(:show_by_categories)
    %br
    - @categories.each do |category|
      = link_to category.title, category_books_path(category)
      %br
  %br
