%h3 Shop


%div.container_book
  %ul
    - @books.each do |book|
      %li
        = link_to book_path(book) do
          = image_tag(book.picture_url, :width => 100) if book.picture.present?
          %br
          = link_to book.title, book_path(book)
          %br
          $
          = book.price
          %br
          %br

%div
  SHOP BY CATEGORIES
  %br
  - @categories.each do |category|
    = link_to category.title, category_books_path(category)
    %br
%br

%div{style: "float: left"}
  = paginate @books, window: 2
