%div
  - @books.each do |book|
    %div
      %div
        %table
          %tr
            %td
              = link_to book.title, book_path(book)
            %td
              By
              = book.author
              / # = link_to book.author#, author_path(book.author)
      %div
        %table
          %tr
            %td= link_to book.picture, book_path(book)
            %td= book.description
          %tr
            %td
            %td 
              %table
                %tr
                  %td
                    $
                    = book.price
                  %td
                    = form_for oi = OrderItem.new do |f|
                      = f.number_field :quantity, min: 1, max: 10
                      = f.hidden_field :book_id, value: book.id
                      = f.hidden_field :price, value: book.price
                      = f.submit 'add to cart'
              %br
              %br

              = paginate @books, window: 2

              / %table#book_price{data-price: book.price}
              /   %tr
              /     %td
              /       $
              /       %span#total
              /         = book.price
              /     %td
              /       %input#number.quantity{value: '1', type: 'number', required: true}
              /     %td
              /       %button ADD TO CARD
