%div.col-md-8{style:"margin-left: 200px"}
  %div{style:"float: left"}
    = link_to rel:'prev' do
      %button.btn-prv-nxt{style:"margin-top: 125px"} <
  - @books.each do |book|
    %div
      %div
        %table
          %tr
            %td
              = link_to book.title, book_path(book)
            %td
              By
              = book.author
              -# = link_to book.author#, author_path(book.author)
      %div
        %table
          %tr
            %td
              = link_to book_path(book), id: "#{book.id}_img" do
                = image_tag(book.picture_url, :width => 200) if book.picture.present?
            %td= book.description
          %tr
            %td
            %td 
              %table
                %tr
                  %td
                    $
                    = book.price
                  %td
                    = form_for oi = OrderItem.new do |f|
                      = f.hidden_field :book_id, value: book.id
                      = f.number_field :quantity, min: 1, max: 10, value: 1
                      - if current_user
                        = f.hidden_field :order_id, value: current_user.current_order.id
                      = f.hidden_field :price, value: book.price
                      = f.submit 'add to cart'
              %br
              %br

%div
  = link_to rel:'next' do
    %button.btn-prv-nxt{style:"margin-top: 125px"} >