%p#notice= notice

%div
  = @book.title
%div{style: "float: left"}
  = image_tag(@book.picture_url, :width => 100) if @book.picture.present?
%table
  %tr
    %td
      $
      = @book.price
    %td
      = form_for oi = OrderItem.new do |f|
        = f.number_field :quantity, min: 1, max: 10, value: 1
        = f.hidden_field :book_id, value: @book.id
        -if current_user
          = f.hidden_field :order_id, value: current_user.current_order.id
        = f.hidden_field :price, value: @book.price
        = f.submit 'add to cart'
  %tr
    %td
      %div
        = @book.description

%div{style: "float: left"}
  Reviews
%div 
  = link_to "add review for #{@book.title}", new_book_rating_path(@book)

%br

- @book.ratings.each do |rating|
  - if rating.allow
    %table
      %tr
        %td= rating.rate
        %td= rating.title
        %td= rating.created_at.asctime
    %div
      by
      = rating.user
    %div
      = rating.text
  - else 
    review is not verify by admin yet
  %br
  %br
