%div
  %ul.hr
    %li
      %b Checkout
    %li= link_to 'ADDRESS', checkout_address_path
    %li= link_to 'DELIVERY', checkout_delivery_path
    %li= link_to 'PAYMENT', checkout_payment_path
    %li= link_to 'CONFIRM', checkout_confirm_path
    %li= link_to 'COMPLETE', checkout_complete_path

%br