-if @order and current_user.bill_address and current_user.ship_address
  %h4
    Order
    = @order.number
  %table
    %tr
      %th
        Shipping address
        |
      %th
        Billing address
        |
      %th
        Shipments
        |
      %th
        Payment information

    %tr
      %td
        = "#{current_user.ship_address.firstname} #{current_user.ship_address.lastname}"
        %br
        = current_user.ship_address.street
        %br
        = current_user.ship_address.city
        = current_user.ship_address.zipcode
        %br
        = current_user.ship_address.country.name
        %br
        Phone
        = current_user.ship_address.phone

      %td
        = "#{current_user.bill_address.firstname} #{current_user.bill_address.lastname}"
        %br
        = current_user.bill_address.street
        %br
        = current_user.bill_address.city
        = current_user.bill_address.zipcode
        %br
        = current_user.bill_address.country.name
        %br
        Phone
        = current_user.bill_address.phone

      %td
        = @shipment

      %td
        -if current_user.credit_card
          = current_user.credit_card.card_number
          %br
          = current_user.credit_card.expiration_month
          = current_user.credit_card.expiration_year
        -else
          Fill your credit card information!!!
  %br
  %br
  %table
    %tr
      %th BOOK
      %th PRICE
      %th QTY
      %th TOTAL

    - @order.order_items.each do |order_item|
      %tr
        %td
          %table
            %tr
              %td
                = image_tag(order_item.book.picture_url, :width => 100) if order_item.book.picture.present?
              %td
                %table
                  %tr
                    %td= order_item.book.title
                  %tr
                    %td= order_item.book.short_description
        %td
          $
          = order_item.book.price
        %td= order_item.quantity
        %td
          $
          = order_item.total
  %br

  %div
    %table
      %tr
        %td{colspan: 3}
          SUBTOTAL: $
          %b
            = @order.subtotal.round(2)
      %tr
        %td{colspan: 3}
          SHIPPING: $
          %b
            = @order.shipping.round(2)
      %tr
        %td{colspan: 3}
          ORDER TOTAL: $
          %b
            = @order.order_total.round(2)
  %br
  %br

  = link_to books_path do 
    %button GO BACK TO STORE

-else
  %h4 Set addresses, payment and delivery!
  %br
  = link_to '<< back', :back