= render 'head'

%div.checkout_adrs{style: "float: left"}
  %br
  = form_tag checkout_set_delivery_path, id: 'delivery' do
    = radio_button_tag :shipping, 'ground'
    UPS Ground +$5.00
    %br
    = radio_button_tag :shipping, 'two_days'
    UPS Two Days +$10.00
    %br
    = radio_button_tag :shipping, 'one_day'
    UPS One Day +$15.00
    %br
    %br
    %br
    = submit_tag 'SAVE AND CONTINUE'

%div
  %h4 ORDER SUMMARY
  %table
    %tr
      %td
        ITEM TOTAL: $
        = current_user.current_order.subtotal.round(2)
    %tr
      %td
        SHIPPING: $
        %span#shipping_value
          = current_user.current_order.shipping.round(2)
    %tr
      %td
        ORDER TOTAL: $
        = current_user.current_order.order_total.round(2)