= render 'head'

.row
  %div.span8
    %h4
      = t(:name, scope: :credit_card)
    -if current_user.credit_card
      = form_for current_user.credit_card do |f|
        %p
          = f.text_field :card_number, value: current_user.credit_card.card_number
        %p
          = f.label t(:expiration_date, scope: :credit_card)
        %p
          = f.select :expiration_month, options_for_select(@months), selected: current_user.credit_card.expiration_month
          %br
          = f.select :expiration_year, options_for_select(@years), selected: current_user.credit_card.expiration_year
          %br
        %p
          = f.password_field :code, placeholder: t(:card_code, scope: :credit_card)
          = link_to t(:what_is_it), 'http://en.wikipedia.org/wiki/Card_security_code'
          = f.hidden_field :user_id, value: current_user.id
          %br
        %p  
          = f.submit t(:save_and_continue)
    -else
      = form_for CreditCard.new do |f|
        %p
          = f.text_field :card_number, placeholder: t(:card_number, scope: :credit_card)
          %br
        %p
          = f.label t(:expiration_date, scope: :credit_card)
        %p
          = f.select :expiration_month, options_for_select(@months, t(:month, scope: :date))
          %br
          = f.select :expiration_year, options_for_select(@years, t(:year, scope: :date))
          %br
        %p
          = f.password_field :code, placeholder: t(:card_code, scope: :credit_card)
          = link_to t(:what_is_it), 'http://en.wikipedia.org/wiki/Card_security_code'
          = f.hidden_field :user_id, value: current_user.id
          %br
        %p  
          = f.submit t(:save_and_continue)
    
  %div
    %h4
      = t(:order_summary)
    %table
      %tr
        %td
          = t(:order_total)
          = current_user.current_order.subtotal.round(2)
      %tr
        %td
          = t(:shipping)
          %span#shipping_value
            - if current_user.current_order.delivery
              = current_user.current_order.delivery.price.round(2)
            - else
              0.0
      %tr
        %td
          = t(:order_total)
          = current_user.current_order.order_total.round(2)