= form_for @bill_address do |f|
  - if current_user.bill_address
    %p
      = f.text_field :firstname, value: @bill_address.firstname
      %br
    %p
      = f.text_field :lastname, value: @bill_address.lastname
      %br
    %p
      = f.text_field :street, value: @bill_address.street
      %br
    %p
      = f.text_field :city, value: @bill_address.city
      %br
    %p
      = f.collection_select :country_id, @countries, :id, :name
    %p 
      = f.text_field :zipcode, value: @bill_address.zipcode
      %br
    %p
      = f.text_field :phone, value: @bill_address.phone
      %br
    %p
  - else
    %p
      = f.text_field :firstname, placeholder: 'firstname'
      %br
    %p
      = f.text_field :lastname, placeholder: 'lastname'
      %br
    %p
      = f.text_field :street, placeholder: 'street'
      %br
    %p
      = f.text_field :city, placeholder: 'city'
      %br
    %p
      = select_tag(:country_id, options_from_collection_for_select(@countries, 'id', 'name'))
    %p 
      = f.text_field :zipcode, placeholder: 'zipcode'
      %br
    %p
      = f.text_field :phone, placeholder: 'phone'
      %br
    %p
  = f.submit 'SAVE', method: :patch